 body {
	  background-image:url("assets/space.jpg");
 } 
 
 #earth{
	 float:left;
	 margin-top:32%;
	 width:20%;
	 z-index:2;
	 
 }
 
 #moon{
	 float:right;
	 width:15%;
	 -webkit-animation:rotate 120s infinite;
	 animation-timing-function:linear;
	 position:relative;
	 z-index:2;
 }
 
 #rocket{
	 height:5%;
	 position:absolute;
	 margin-left:8%;
	 margin-top:29%;
	 -webkit-animation: blastoff 15s infinite;
	 z-index:3;
 }
 
 @keyframes blastoff {
	 10%{margin-top:2%;}
	 20%{transform:rotate(45deg);}
	 60%{margin-left:78%;margin-top:4%;}
	 70%{height:15%}
	 80%{transform: rotate(-90deg)}
 }
 
 #smoke{
	 position:absolute;
	 height:50px;
	 width:50px;
	 background-color:grey;
	 border-radius:25px;
	 margin-left:7.5%;
	 margin-top:32%;
 }
 
 .star{
	 position:absolute;
	 height:5px;
	 width:5px;
	 border-radius:25px;
	 z-index:0;
 }
 
 @keyframes rotate{
	 
	 100% {transform:rotate(360deg)}
	 
 }
 
 .comet{
	 position:absolute;
	 height:10px;
	 width:10px;
	 background-color:white;
	 border-radius:50px;
	 -webkit-animation: shootingstar 2s 1;
 }
 
 @keyframes shootingstar{
	 100% { margin-left:-5%;: margin-top:10%;}
 }